@model IEnumerable<ProjektniZadatak.Models.Vrsteatributum>

@{
    ViewData["Title"] = "Vrste atributa";
}

<h1 class="text-center">Vrste atributa</h1><br />

<table class="table table-bordered table-dark text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vrstaatributanaziv)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vrstaatributanaziv)
            </td>
            <td>
                <a class="text-white" asp-action="Edit" asp-route-id="@item.Vrstaatributaid">Izmijeni</a> |
                    <a class="text-white" asp-action="Details" asp-route-id="@item.Vrstaatributaid">Detalji</a> |
                    <a class="text-white" asp-action="Delete" asp-route-id="@item.Vrstaatributaid">Izbriši</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a class="text-white" asp-action="Create">Dodaj novu vrstu atributa</a>
</p>