@model ProjektniZadatak.Models.Artikal

@{
    ViewData["Title"] = "Izbriši";
}



<h3>Da li ste sigurni da želite da izbrišete dati artikal?</h3>
<div>
    <h4>Artikal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Artikalsifra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Artikalsifra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Artikalnaziv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Artikalnaziv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jedinicamjere)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jedinicamjere.Jedinicamjereid)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Artikalid" />
        <input type="submit" value="Izbriši" class="btn btn-danger" /> |
        <a asp-action="Index">Nazad na listu</a>
    </form>
</div>
