@model IEnumerable<ProjektniZadatak.Models.Artikal>

@{
    ViewData["Title"] = "Artikli";
}

<h1 class="text-center">Artikli</h1>
<br />
<form asp-controller="Artikals" asp-action="Index" align="right">
    <p>
        Pretraži: <input type="text" name="SearchString" />
        <input type="submit" value="OK" />
    </p>
</form>

<table class="table table-bordered table-dark text-center">
    <thead >
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Artikalsifra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artikalnaziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jedinicamjere)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Artikalsifra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artikalnaziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jedinicamjere.Jedinicamjereskracenica)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Artikalid">Izmijeni</a> |
                <a asp-action="Details" asp-route-id="@item.Artikalid">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.Artikalid">Izbriši</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a asp-action="Create">Dodaj novi artikal</a>
</p>