@model ProjektniZadatak.Models.Atributiartikla

@{
    ViewData["Title"] = "Detalji";
}

<h1>Detalji</h1>

<div>
    <h4 class="row">Atributi artikla</h4>
    <hr />
    <dl >
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vrijednostatributa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vrijednostatributa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Artikal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Artikal.Artikalnaziv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vrstaatributa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vrstaatributa.Vrstaatributanaziv)
        </dd>
    </dl>
</div>
<div class="text-white">
    @Html.ActionLink("Izmijeni", "Edit", new { id=Model.Artikalid,id2=Model.Vrstaatributaid }) |
    <a class="text-white" asp-action="Index">Nazad na listu</a>
</div>
