@model IEnumerable<ProjektniZadatak.Models.Atributiartikla>

@{
    ViewData["Title"] = "Atributi artikla";
}

<h1 class="text-center">Atributi artikla</h1>
<br />
<form asp-controller="Atributiartiklas" asp-action="Index" method="get" align="right">
    <p>
        Pretraži: <input type="text" name="SearchString" />
        <input type="submit" value="OK" />
    </p>
</form>

<table class="table table-bordered table-dark text-center ">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vrijednostatributa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artikal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vrstaatributa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vrijednostatributa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artikal.Artikalnaziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vrstaatributa.Vrstaatributanaziv)
            </td>
            <td  >
                    @Html.ActionLink("Izmijeni", "Edit", new { id=item.Artikalid,id2=item.Vrstaatributaid },new { @class = "text-white" }) |
                    @Html.ActionLink("Detalji", "Details", new { id=item.Artikalid,id2=item.Vrstaatributaid },new { @class = "text-white" }) |
                    @Html.ActionLink("Izbriši", "Delete", new { id=item.Artikalid,id2=item.Vrstaatributaid },new { @class = "text-white" })
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a class="text-white" asp-action="Create">Dodaj novi atribut</a>
</p>