@model IEnumerable<ProjektniZadatak.Models.Atributiartikla>

@{
    ViewData["Title"] = "Atributi artikla";
}

<h1 class="text-center">Atributi artikla</h1>
<br />

<table class="table table-bordered table-dark text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vrijednostatributa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artikal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vrstaatributa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vrijednostatributa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artikal.Artikalsifra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vrstaatributa.Vrstaatributanaziv)
            </td>
            <td>
                @Html.ActionLink("Izmijeni", "Edit", new { id=item.Artikalid,id2=item.Vrstaatributaid }) |
                    @Html.ActionLink("Detalji", "Details", new { id=item.Artikalid,id2=item.Vrstaatributaid }) |
                    @Html.ActionLink("Izbriši", "Delete", new { id=item.Artikalid,id2=item.Vrstaatributaid })
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a asp-action="Create">Dodaj novi atribut</a>
</p>