@model IEnumerable<ProjektniZadatak.Models.Jedinicamjere>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Jedinicamjerenaziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jedinicamjereskracenica)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Jedinicamjerenaziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jedinicamjereskracenica)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Jedinicamjereid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Jedinicamjereid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Jedinicamjereid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
