@model IEnumerable<ProjektniZadatak.Models.Jedinicamjere>

@{
    ViewData["Title"] = "Jedinice mjere";
}

<h1 class="text-center">Jedinice mjere</h1>
<br />


<table class="table table-bordered table-dark text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Jedinicamjerenaziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jedinicamjereskracenica)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Jedinicamjerenaziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jedinicamjereskracenica)
            </td>
            <td>
                <a class="text-white"  asp-action="Edit" asp-route-id="@item.Jedinicamjereid">Izmijeni</a> |
                <a class="text-white" asp-action="Details" asp-route-id="@item.Jedinicamjereid">Detalji</a> |
                <a class="text-white" asp-action="Delete" asp-route-id="@item.Jedinicamjereid">Izbriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a class="text-white" asp-action="Create">Dodaj novu jedinicu mjere</a>
</p>
